.wrapper
  .user-mypage
    %h2
      参加済み
      %ul
        = render partial: 'room', collection: @rooms
            
    %h2
      全部屋
      %ul
        = render partial: 'room', collection: @all_rooms
        -# = paginate @all_rooms
       