.sudoku-table{
  margin: 90px auto;
  padding: 10px;
  // border: 5px solid #000000;
  tbody{
    border: 5px solid $main-color;
    padding: 1px;
    display: table-row-group;
    tr{
      margin: 10px;
      td{
        text-align:center;
        width: 70px;
        height: 70px;
        border:1px solid #7a0707d0;
        .grayout{
          color:black;
          background-color: #eee;
          font-weight: bold;
        }
        input{
          width: 100%;
          height: 100%;
          display:block;
          text-align:center;
          border:none;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .right-border{
        border-right: 5px solid $main-color;
      }
    }

    .bottom-border{
      border-bottom: 5px solid $main-color;
    }
  }
}

